# Server
SERVER_PORT=3000
NODE_ENV=development
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
USE_PRETTY_LOGS=false

# Prisma
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"

# Docker
# DB_VERSION=""
DOCKER_USER=""
DOCKER_PASSWORD=""
DOCKER_DB=""
# DB_PORT=""

# Docker Logging
LOKI_PORT="3100"
LOKI_HOST="http://localhost:3101"
ALLOY_HTTP_PORT="12345"
ALLOY_LOKI_PORT="3101"
GRAFANA_PORT="3001"
GRAFANA_ADMIN_PASSWORD="admin"


# JWT
JWT_SECRET="your-super-secret-jwt-key"
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="30d"

# Security
PASSWORD_PEPPER="your-pepper-secret-minimum-32-chars"

# License
LICENSE_SERVER_ADDRESS="http://localhost:3005"
LICENSE_KEY="your-license-key"