# Server
SERVER_PORT=3000
NODE_ENV=development
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

# Prisma
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"

# Docker
DB_VERSION=""
DOCKER_USER=""
DOCKER_PASSWORD=""
DOCKER_DB=""
DB_PORT=""